<div class="login-page">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <div class="user-avatar"></div>
      <h1>Login</h1>
      <form role="form" novalidate [formGroup]="frmManager.form" [autocomplete]="'off'">
        <div class="form-content">
          <div class="form-group">
            <input placeholder="Enter your user id" type="text" [formControlName]="'userId'"
              class="form-control input-underline input-lg"
              [ngClass]="{'is-invalid': frmManager.submitted && frmManager.getControl(loginFormFieldsEnum.USER_ID).invalid }" />

            <span class="invalid-feedback">
              <span *ngIf="frmManager.submitted && frmManager.form.get('userId').errors?.required">
                field is mandatory
              </span>
            </span>
          </div>
        </div>

        <button class="loading" [disabled]="loadingService.loading" (click)="onLoggedin()"
          class="btn rounded-btn btn-secondary">
          Log in
        </button>
        <div *ngIf="loadingService.loading" class="loading text-center"></div>

        <!-- <a [routerLink]="['/register']" class="btn rounded-btn btn-secondary">{{ 'Register' | translate }}</a> -->

        <div class="mt-3">
          <!-- <em class="state-error" *ngIf="loginFail">{{ 'loginFail' | translate }}</em> -->
          <em class="state-error" *ngIf="loginFail">The credentials are invalid or you don't have permissions, please try again.</em>
        </div>
      </form>
    </div>
  </div>
</div>
