<div class="container">
  <div class="row justify-content-md-center">
    <h1> {{ editMode ? 'Edit' : 'New' }} Employee</h1>
    <div class="col-12">
      <form class="centered" *ngIf="frmManager" [formGroup]="frmManager.form">
        <div class="form-group">
            <input
                [readonly]="canEdit(employeeFormEnum.NAME)"
                [formControlName]="employeeFormEnum.NAME"
                placeholder="Name"
                class="form-control"
                type="text"
            />
            <span class="input-error" *ngIf="frmManager.submitted && frmManager.getControl(employeeFormEnum.NAME).errors?.required">
              Field is mandatoty
            </span>
        </div>

        <div class="form-group">
            <input
                [readonly]="canEdit(employeeFormEnum.SURNAME)"
                [formControlName]="employeeFormEnum.SURNAME"
                placeholder="Surname"
                class="form-control"
                type="text"
            />
            <span class="input-error" *ngIf="frmManager.submitted && frmManager.getControl(employeeFormEnum.SURNAME).errors?.required">
              Field is mandatoty
            </span>
        </div>

        <div class="form-group">
          <app-custom-date-picker #datePicker
              [readonly]="canEdit(employeeFormEnum.DATE_BIRTH)"
              (onDateSelected)="onDateSelected($event)"
              [formControlName]="employeeFormEnum.DATE_BIRTH"
              [maxDate]="datePicker.today"
              [minDate]="mindate"
              [placeHolder]="'Date of Birth (dd/mm/yyyy)'">
          </app-custom-date-picker>

          <span class="input-error" *ngIf="frmManager.submitted && frmManager.getControl(employeeFormEnum.DATE_BIRTH).errors?.required">
            Field is mandatoty
          </span>
        </div>

        <div class="form-group">
            <select
                [formControlName]="employeeFormEnum.WORK_POSITION"
                [appSelectListValidator]="{ dataSource: workPositionsService.workPositions }"
                class="form-control input-underline input-lg">
                <option [ngValue]="null" selected>{{ 'Select a Work Position' }}</option>
                <option *ngFor="let position of workPositionsService.workPositions" [value]="position" >{{ position }}</option>
            </select>

            <label class="input-error" *ngIf="frmManager.isDisplayError(employeeFormEnum.WORK_POSITION)">
              Field is mandatoty
            </label>
        </div>

      </form>
    </div>
    <button type="button" (click)="onSubmit()" class="btn btn-success m-1">Save</button>
    <button type="button" [routerLink]="['/']" class="btn btn-danger m-1">Cancel</button>
    <button *ngIf="canLeaveCompany()" type="button" (click)="onLeaveCompany()" class="btn btn-warning m-1">Leave Company</button>
  </div>
</div>
