<h1>Test Leonardo Onieva</h1>
<p>Welcome to my test, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a
      href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for
    client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>

<label><b>NOTE:</b></label>
<p>As a requirement for this test, the first user will be created as the Administrator (when setting up the project, see README.md), and the rest will be normal users. <br/>
  So to fit the application behaviour with the test requirements, a normal user will be allowed to change his own data, and only the work position, and
  an Administrator will be allowed to change the name of any employee. <br/>
  As we have two different user roles, I've implemented a <b>login system which consists in typing the user id, therefore, use "1" to login with Admin user</b>.<br/>
</p>
<p>
  In this project I also pretend to demostrate some advanced programming techniques (some code snippets developed from other personal projects, but
  <b>all of them developed by myself from scratch or other internet public resources</b>) such as:
</p>
<ul>
  <li>Rxjs async pipes: (<b>employees$ | async</b>)</li>
  <li>Extension methods: (<b>date-extension.ts</b> and <b>reactive-forms-extension.ts</b>)</li>
  <li>Inheritance: (<b>base.component.ts</b> and <b>base.service.ts</b>)</li>
  <li>Reactive Forms custom management: (<b>frmBase.ts</b>)</li>
  <li>Reactive Forms custom controls: (<b>app-custom-date-picker</b>)</li>
  <li>DOM elements replacement: (<b>tr app-employee-list-item</b>)</li>
  <li>Http client wrapper: (<b>http.service.ts</b>)</li>
  <li>Iterceptors: (<b>loader.interceptor.ts</b>)</li>
  <li>Guards: (<b>auth.guard.ts</b>)</li>
  <li>Resolvers: (<b>work-positions.resolver.ts</b>)</li>
  <li>Custom Directives: (<b>[appSelectListValidator]</b>)</li>
  <li>Lazy Loading Module: (<b>loadChildren: () => import('./components/login/login.module').then((m) => m.LoginModule</b>)</li>
  <li>Custom JWT Authentication: (<b>jwt.interceptor.ts</b> and <b>authentication.service.ts</b>)</li>
  <li>Best Practices: <b>Using Enumerators compulsively</b>, <b>clean code</b>, <b>interfaces</b></li>
</ul>

<app-employee-list></app-employee-list>
