<td>{{ employee.id }}</td>
<td>{{ employee.name }}</td>
<td>{{ employee.surname }}</td>
<td>{{ dateStructHelper.toDate(employee.dateOfBirth) | date:"dd/MM/yyyy" }}</td>
<td>{{ employee.workPosition }}</td>
<td> <button *ngIf="user?.userId === employee.id || user?.role === userRoleEnum.Admin" class="btn btn-success" type="button" [routerLink]="['/edit/' + employee.id]">Edit</button> </td>
