<h3 id="tableLabel">Employees list</h3>

<p *ngIf="loadingService.loading"><em>Loading...</em></p>

<!-- We don't render the table until the async call is finished -->
<table *ngIf="(employees$ | async) as employeeList"
  class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Date of Birth</th>
      <th>Work Position</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr app-employee-list-item *ngFor="let employee of employeeList" [employee]="employee">
      <!--
        NOTE: currenly the cons of using async pipes is that we loose type reference, so a partial solution here is to create a row component.
        more info: https://stackoverflow.com/questions/52181723/using-async-pipe-looses-reference-to-object-type/67595323#67595323

        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
      -->
    </tr>
  </tbody>
</table>
