<div class="input-group datepicker-input">
    <input
        #d="ngbDatepicker"
        [(ngModel)]="value"
        class="form-control"
        name="dp"
        ngbDatepicker
        outsideDays="hidden"
        [placeholder]="placeHolder"
        (dateSelect)="onDateSelect($event)"
        (ngModelChange)="onDateSelect($event)"
        [minDate]="minDate"
        [maxDate]="maxDate"
        [readonly]="readonly"/>
        <!-- (focus)="displayCalendar(d)" -->

    <button (click)="d.toggle()" class="input-group-addon" style="width: 30%;" type="button">
        <span class="fa fa-calendar"></span>
    </button>
</div>
